// Setup
body {
  font-family: sans-serif;
}

header {
  border-bottom: 3px solid lightgrey;

  // filter area
  div {
    display: flex;

    // children
    div {
      margin-right: 2rem;
      
      li span {
        color: lightgrey;
      }
    }
  }
}

section {
  display: flex;
  flex-wrap: wrap;

  article {
    padding: 3vmax;
  }
}

// Smarts
.hideItem {
  display: none;
}

// Chips
.chip {
  background-color: black;
  color: white;
  border-radius: 2px;
  padding: 0.5rem;
  cursor: pointer;
}